# CMake
# Excluir TODO excepto include/, src/, CMakeLists.txt y .gitignore
*
!include/
!src/
!.gitignore
!CMakeLists.txt

# Binarios
*.exe
*.out
*.a
*.so
*.dll
*.dylib

# Temporales y objetos
*.o
*.obj
*.log
*.gcda
*.gcno

# IDEs
.vscode/
.idea/
*.user
*.sln
*.vcxproj*